<body>
  <nav class="navbar navbar-dark bg-primary mb-3">
    <div class="container">
      <a href="#" class="navbar-brand">All The Events</a>
    </div>
  </nav>

  
    
    <br><br>
    <div id="output"></div>
  </div>
    <br><br>