
  <!-- <nav class="navbar navbar-dark bg-primary mb-3">
    <div class="container">
      <a href="#" class="navbar-brand">All The Events</a>
    </div>
  </nav> -->
  <h2 align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;"> ALL UPCOMING EVENTS</h2>

         <%= render 'calendar' %>

  
    
    <br><br>
  <div id="events-modal"></div>
  <div class="wrapper-index">
    <div id="output"></div>
  </div>
    <br><br>